<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.user.myapplication"
    android:targetSandboxVersion="1">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/main"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gallary" android:parentActivityName=".third"></activity>
        <activity android:name=".my_grid" />
        <activity
            android:name=".activity_grid_item"
            android:parentActivityName=".cutsview" />
        <activity android:name=".viewcuts" />
        <activity
            android:name=".cutspage"
            android:parentActivityName=".cutsview" />
        <activity
            android:name=".cutsview"
            android:parentActivityName=".choosehair" />
        <activity
            android:name=".timetableapp"
            android:parentActivityName=".thirdmanager" />
        <activity
            android:name=".editmanager"
            android:parentActivityName=".thirdmanager" />
        <activity android:name=".ratesee" />
        <activity
            android:name=".salonrate"
            android:parentActivityName=".thirdmanager" />
        <activity
            android:name=".saloninfo"
            android:parentActivityName=".third" />
        <activity
            android:name=".about"
            android:parentActivityName=".third" />
        <activity
            android:name=".vision"
            android:parentActivityName=".third" />
        <activity
            android:name=".contactmanager"
            android:parentActivityName=".thirdmanager" />
        <activity
            android:name=".contact"
            android:parentActivityName=".third" />
        <activity
            android:name=".thirdmanager"
            android:parentActivityName=".homemanger" />
        <activity
            android:name=".visionus"
            android:parentActivityName=".thirdmanager" />
        <activity
            android:name=".aboutus"
            android:parentActivityName=".thirdmanager" />
        <activity
            android:name=".forgotmanager"
            android:parentActivityName=".homemanger" />
        <activity
            android:name=".signupmanager"
            android:parentActivityName=".homemanger" />
        <activity
            android:name=".homemanger"
            android:parentActivityName=".second" />
        <activity
            android:name=".timetable"
            android:parentActivityName=".appointpage" />
        <activity
            android:name=".appointpage"
            android:parentActivityName=".third" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".second"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".home"
            android:parentActivityName=".second" />
        <activity
            android:name=".third"
            android:parentActivityName=".home" />
        <activity
            android:name=".account"
            android:parentActivityName=".home" />
        <activity
            android:name=".forgot"
            android:parentActivityName=".home" />
        <activity
            android:name=".choosehair"
            android:parentActivityName=".third" />
        <activity
            android:name=".rateus"
            android:parentActivityName=".third" />
    </application>
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>